@model Heavy.Web.ViewModels.UserRoleViewModel

@{
    ViewBag.Title = "从角色移除用户";
}

<h2>@ViewBag.Title</h2>

<form asp-action="DeleteUserFromRole" method="post">
    <input type="hidden" name="roleId" value="@Model.RoleId" />

    <select class="form-control" asp-for="UserId" asp-items="@(new SelectList(Model.Users, "Id", "UserName"))">
        <option> -- 请选择一个用户 -- </option>
    </select>

    <button class="btn btn-primary" type="submit">移除</button>
    <a class="btn btn-secondary" asp-action="EditRole" asp-route-id="@Model.RoleId">返回</a>
</form>
