@using Heavy.Web.TagHelpers.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @*<a href="mailto:Support@contoso.com">Support@contoso.com</a>*@
    <email>Support@contoso.com</email>

    @*<bold color="green"> 这个是粗字体吗?</bold>*@

    <p bold my-style="@(new MyStyle
                        {
                            Color = "red",
                            FontFamily = "SimHei",
                            FontSize = 30
                        })">应该是粗字体.</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
